.imagenes {
    display: flex;
}

body {
    background-image: url(../img/pokedex2.jpg);
    background-size: 800px;
    background-repeat: no-repeat;
    background-color: black;
    background-position-x: center;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 90px;
    margin-left: 270px;
    font-size: 38px;
    text-shadow: 2px 2px black;
}

.container {
    display: flex;
    flex-direction: column;
}

.pokemon-form {
    display: flex;
    padding-left: 385px;
    padding-top: 150px;
    padding-bottom: 50px;
}

#info {
    padding-left: 310px;
    }

img {
    height: 120px;
}


